html, body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

@media only screen and (min-width: 1600px) {
  body {
    font-size: 1.4rem;
  }
}

/* landing page */
.landing {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media only screen and (max-width: 850px) {
  .landing {
    display: block;
  }
}

@media only screen and (max-width: 850px) {
  .container {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    overflow-x: hidden;
    align-items: center;
  }
}

.hamburger-menu {
  width: 75px;
  height: 75px;
  display: none;
}
.hamburger-menu:hover {
  cursor: pointer;
  width: 80px;
  height: 80px;
}
@media only screen and (max-width: 850px) {
  .hamburger-menu {
    display: block;
    position: absolute;
    z-index: 6;
    right: 10px;
    top: 10px;
  }
}

.x-icon {
  height: 50px;
  width: 50px;
  display: none;
}
.x-icon:hover {
  cursor: pointer;
  height: 55px;
  width: 55px;
}
@media only screen and (max-width: 850px) {
  .x-icon {
    position: absolute;
    z-index: 9;
    right: 10px;
    top: 10px;
  }
}

.mobile-menu {
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 8;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
}

.mobile-links {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.mobile-link {
  padding: 20px;
  text-decoration: none;
  font-size: 36px;
  color: #6f93b3;
  display: block;
  transition: 0.3s;
}
.mobile-link:hover {
  color: #0c3c67;
}

.hero-image {
  max-width: 50vw;
  margin: auto;
  margin-left: 0;
}
@media only screen and (max-width: 850px) {
  .hero-image {
    display: none;
  }
}

.smaller-image {
  display: none;
}
@media only screen and (max-width: 850px) {
  .smaller-image {
    display: block;
  }
}

.landing-info {
  margin: 10%;
  position: fixed;
  top: 11%;
  left: 55%;
}
@media only screen and (min-width: 850px) and (max-width: 950px) {
  .landing-info {
    margin: 7%;
  }
}
@media only screen and (max-width: 850px) {
  .landing-info {
    top: 0;
    left: 0;
    position: relative;
  }
}

.menu {
  display: inline-flex;
  position: fixed;
  top: 80px;
  right: 80px;
}
@media only screen and (min-width: 850px) and (max-width: 950px) {
  .menu {
    top: 30px;
    right: 30px;
  }
}
@media only screen and (max-width: 850px) {
  .menu {
    display: none;
  }
}

.menu h3 {
  margin: 0 30px 0 30px;
  font-weight: 300;
  padding: 10px;
  transition: box-shadow 0.3s ease-in-out;
}
.menu h3:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.menu a {
  color: #0f4c81;
}

.menu a:visited {
  color: #0f4c81;
}

.title {
  margin-bottom: 50px;
  color: #0f4c81;
  text-align: center;
}

.subtitle {
  text-align: justify;
  font-weight: 300;
}

.bottom-link {
  position: fixed;
  right: calc((50vw / 2) - 70px);
  margin-top: 50px;
  margin-bottom: 50px;
}
@media only screen and (max-width: 850px) {
  .bottom-link {
    left: calc(50vw - 55px);
  }
}

.bottom-link a {
  color: #6f93b3;
  cursor: pointer;
  border: 2px solid #6f93b3;
  border-radius: 20px;
  width: 20px;
  padding: 10px;
}

.bottom-link a:hover {
  color: #0f4c81;
  border: 2px solid #0f4c81;
}

.bottom-link a:visited {
  color: #0f4c81;
}

/* portfolio page */
.work {
  margin: 7%;
}
@media only screen and (max-width: 650px) {
  .work {
    margin: 0;
  }
}

.carousel {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.carousel-arrow {
  margin: auto;
}
@media only screen and (max-width: 650px) {
  .carousel-arrow {
    z-index: 3;
    position: absolute;
    background-color: white;
    border-radius: 50%;
  }
}

.carousel-arrow:hover {
  cursor: pointer;
}

#left {
  top: 30%;
  left: 5px;
}

#right {
  top: 30%;
  right: 5px;
}

.images {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  overflow: auto;
}

.carousel-item {
  width: 200px;
  height: 200px;
  margin: 0 10px 0 10px;
}

.small {
  width: 150px;
  height: 150px;
  margin-top: 40px;
  position: relative;
}
.small:after {
  background: #b7c9d9;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}
@media only screen and (max-width: 1100px) {
  .small {
    display: none;
  }
}

.central {
  width: 230px;
  height: 230px;
}
@media only screen and (min-width: 650px) and (max-width: 1100px) {
  .central {
    width: 500px;
    height: auto;
  }
}
@media only screen and (max-width: 650px) {
  .central {
    width: 100%;
    height: auto;
    overflow: hidden;
    z-index: 0;
    margin: 0;
  }
}

.images-descriptions {
  text-align: center;
  padding: 50px;
  margin-bottom: 7%;
}
@media only screen and (max-width: 650px) {
  .images-descriptions {
    padding: 20px;
    position: absolute;
    z-index: 2;
    margin-top: -80px;
    background-color: white;
    width: 150px;
    left: calc(50vw - (190px/2));
  }
}

.image-title {
  color: #0f4c81;
}

.hidden {
  display: none;
}

.shown {
  display: block;
}

/*.arrow-container-one, .arrow-container-two {
	position: fixed;
    height: 300px;
    background-color: white;
    width: 200px;
    z-index: 2;
}

.arrow-container-one {
	left: 2%;
}

.arrow-container-two {
	right: 2%;
}
*/
.arrows {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  bottom: 25px;
}
@media only screen and (max-width: 850px) {
  .arrows {
    display: none;
  }
}

.bottom-link-wide {
  display: grid;
}

.bottom-link-wide a {
  color: #6f93b3;
  cursor: pointer;
}

.bottom-link-wide a:hover {
  color: #0f4c81;
}

.bottom-link-wide a:visited {
  color: #0f4c81;
}

.bottom-link-wide img {
  margin-top: -5px;
  width: 70px;
  height: 70px;
}

/* about and contact page */
.about {
  margin: 0 7% 0 7%;
}
@media only screen and (max-width: 650px) {
  .about {
    margin: 0;
  }
}

.info {
  text-align: center;
  margin: 8% 20% 10% 20%;
}
@media only screen and (max-width: 650px) {
  .info {
    margin-top: 8%;
  }
}

.about h2 {
  color: #0f4c81;
}

.avatar {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.3s ease-in-out;
}
.avatar:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.about h4 {
  text-align: justify;
  font-weight: 300;
  margin: 5% 12% 5% 12%;
  line-height: 1.5rem;
}
@media only screen and (max-width: 500px) {
  .about h4 {
    margin: 5%;
  }
}

.icon {
  width: 60px;
  height: 60px;
  margin: 20px;
  padding: 10px;
  transition: box-shadow 0.3s ease-in-out;
}
.icon:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

/*# sourceMappingURL=style.css.map */
