html, body {
  width: 100%;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

@media only screen and (min-width: 1600px) {
  body {
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 850px) {
  body {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    overflow-x: hidden;
    align-items: center;
  }
}

/* landing page */
.landing {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media only screen and (max-width: 850px) {
  .landing {
    display: block;
  }
}

.hero-image {
  max-width: 50vw;
  margin: auto;
  margin-left: 0;
}
@media only screen and (max-width: 850px) {
  .hero-image {
    display: none;
  }
}

.smaller-image {
  display: none;
}
@media only screen and (max-width: 850px) {
  .smaller-image {
    display: block;
  }
}

.landing-info {
  margin: 10%;
  position: fixed;
  top: 11%;
  left: 55%;
}
@media only screen and (min-width: 850px) and (max-width: 950px) {
  .landing-info {
    margin: 7%;
  }
}
@media only screen and (max-width: 850px) {
  .landing-info {
    top: 0;
    left: 0;
    position: relative;
  }
}

.menu {
  display: inline-flex;
  position: fixed;
  top: 80px;
  right: 80px;
}
@media only screen and (min-width: 850px) and (max-width: 950px) {
  .menu {
    top: 30px;
    right: 30px;
  }
}

.menu h3 {
  margin: 0 30px 0 30px;
  font-weight: 300;
  padding: 10px;
  transition: box-shadow 0.3s ease-in-out;
}
.menu h3:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.menu a {
  color: #0f4c81;
}

.menu a:visited {
  color: #0f4c81;
}

.title {
  margin-bottom: 50px;
  color: #0f4c81;
  text-align: center;
}

.subtitle {
  text-align: justify;
  font-weight: 300;
}

.bottom-link {
  position: fixed;
  display: grid;
  right: 20vw;
}
@media only screen and (max-width: 850px) {
  .bottom-link {
    right: 50vw;
  }
}

.bottom-link a {
  color: #6f93b3;
  cursor: pointer;
}

.bottom-link a:hover {
  color: #0f4c81;
}

.bottom-link a:visited {
  color: #0f4c81;
}

.bottom-link img {
  margin-top: -10px;
  width: 70px;
  height: 70px;
}
@media only screen and (min-width: 1600px) {
  .bottom-link img {
    width: 100px;
    height: 100px;
  }
}

/* portfolio page */
.work {
  margin: 7%;
}

.carousel {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.carousel-arrow {
  margin: auto;
}

.carousel-arrow:hover {
  cursor: pointer;
}

.images {
  display: flex;
  flex-direction: row;
}

.carousel-item {
  width: 200px;
  height: 200px;
  margin: 0 10px 0 10px;
}

.small {
  width: 150px;
  height: 150px;
  margin-top: 40px;
  position: relative;
}
.small:after {
  background: #b7c9d9;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

.central {
  width: 230px;
  height: 230px;
  z-index: 9;
}

.images-descriptions {
  text-align: center;
  padding: 50px;
  margin-bottom: 7%;
}

.image-title {
  color: #0f4c81;
}

.hidden {
  display: none;
}

.shown {
  display: block;
}

.arrows {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  bottom: 25px;
}

.bottom-link-wide {
  display: grid;
}

.bottom-link-wide a {
  color: #6f93b3;
  cursor: pointer;
}

.bottom-link-wide a:hover {
  color: #0f4c81;
}

.bottom-link-wide a:visited {
  color: #0f4c81;
}

.bottom-link-wide img {
  margin-top: -5px;
  width: 70px;
  height: 70px;
}

/* about and contact page */
.about {
  margin: 0 7% 0 7%;
}

.info {
  text-align: center;
  margin: 8% 20% 10% 20%;
}

.about h2 {
  color: #0f4c81;
}

.avatar {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.3s ease-in-out;
}
.avatar:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.about h4 {
  text-align: justify;
  font-weight: 300;
  margin: 5% 12% 5% 12%;
  line-height: 1.5rem;
}

.icon {
  width: 60px;
  height: 60px;
  margin: 20px;
  padding: 10px;
  transition: box-shadow 0.3s ease-in-out;
}
.icon:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

/*# sourceMappingURL=style.css.map */
