$colors: (
	shadow: #0c3c67,
	main: #0f4c81,
	tint: #6f93b3,
	light: #b7c9d9
);

$weight: 300;

@function color($color-name){
	@return map-get($colors, $color-name);
}

html, body {
  width: 100%;
  overflow-x: hidden;
  padding: 0;
  margin:0;
  font-family: 'Montserrat', sans-serif;
}

a {
	text-decoration: none;
}

/* landing page */

.landing {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	//height: 100%;
}

.hero-image {
	max-width: 50vw;
  	margin: auto;
  	margin-left: 0;
}

.landing-info {
	margin: 10%;
	position: fixed;
    top: 11%;
    left: 55%;
}

.menu {
	display: inline-flex;
	position: fixed;
	top: 80px;
	right: 80px;
}

.menu h3 {
	margin: 0 30px 0 30px;
	font-weight: $weight;
	padding: 10px;
	transition: box-shadow 0.3s ease-in-out;

	&:hover {
		box-shadow: 0 5px 15px rgba(0,0,0,0.3);
	}
}

.menu a {
	color: color(main);

}

.menu a:visited {
	color: color(main);
}

.title {
	margin-bottom: 50px;
	color: color(main);
	text-align: center;
}

.subtitle {
	text-align: justify;
	font-weight: $weight;
}

.bottom-link {
	bottom: 25px;
	right: 80px;
	position: fixed;
	display: grid;
}

.bottom-link a {
	color: color(tint);
	cursor: pointer;
}

.bottom-link a:hover {
	color: color(main);
}

.bottom-link a:visited {
	color: color(main);
}

.bottom-link img {
	margin-top: -15px;
	width: 70px;
	height: 70px;
}

/* portfolio page */

.work {
	//display: none;
	margin: 12% 7% 10% 7%;
	//height: 100%;
}

.carousel {
	display: flex;
	flex-direction: row;
	overflow: hidden;
}

.carousel-arrow {
	margin: auto;
}

.carousel-arrow:hover {
	cursor: pointer;
}

.images {
	display: flex;
	flex-direction: row;
}

.carousel-item {
	width: 200px;
	height: 200px;
	margin: 0 10px 0 10px;
}

.small {
	width: 150px;
	height: 150px;
	margin-top: 40px;
	position: relative;
}

.central {
	width: 230px;
	height: 230px;
	z-index: 9;
}

.images-descriptions {
	text-align: center;
	padding: 50px;
}

.image-title {
	color: color(main);
}

.descr {
	display: none;
}

.arrows {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	bottom: 25px;
}

.bottom-link-wide {
	display: grid;
}

.bottom-link-wide a {
	color: color(tint);
	cursor: pointer;
}

.bottom-link-wide a:hover {
	color: color(main);
}

.bottom-link-wide a:visited {
	color: color(main);
}

.bottom-link-wide img {
	margin-top: -5px;
	width: 70px;
	height: 70px;
}

/* about and contact page */

.about {
	//height: 100vh;
	margin: 0 7% 0 7%;
}

.info {
	text-align: center;
	margin: 8% 20% 10% 20%;
}

.about h2 {
	color: color(main);
}
.avatar {
	border-radius: 50%;
	width: 150px;
	height: 150px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.15);
	transition: box-shadow 0.3s ease-in-out;

	&:hover {
		box-shadow: 0 5px 15px rgba(0,0,0,0.3);
	}
}

.about h4 {
	text-align: justify;
	font-weight: $weight;
	margin: 5% 12% 5% 12%;
	line-height: 1.5rem;
}

.icon {
	width: 60px;
	height: 60px;
	margin: 20px;
	padding: 10px;
	transition: box-shadow 0.3s ease-in-out;

	&:hover {
		box-shadow: 0 5px 15px rgba(0,0,0,0.3);
	}
}

